# =========================
# Archivos de construcción Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# =========================
# Archivos de IntelliJ IDEA
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# Archivos de Eclipse (por si alguien abre el proyecto allí)
# =========================
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache

# =========================
# Archivos de NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# Archivos de VS Code
# =========================
.vscode/

# =========================
# Archivos del sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Archivos de logs
# =========================
*.log
